@page
@model BookTrackingApp.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<p>
    <a asp-page="Create" class="btn btn-new">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="th-gray">
            <th>
                @Html.DisplayNameFor(model => model.Category[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].TypeID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Category) {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@item.NameToken">
                    @Html.DisplayFor(modelItem => item.Description)
                </a>
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TypeID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NameToken">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.NameToken">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
